version: '3.3'

services:
   db:
     image: circleci/mysql:${MYSQL_IMAGE_VERSION:-5.7.27-ram}
     command: ${MYSQL_COMMAND:---verbose}
     volumes:
       - /dev/shm:/dev/shm
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: root
       MYSQL_DATABASE: root
       MYSQL_USER: root
       MYSQL_PASSWORD: local

   mailhog:
     image: mailhog/mailhog:v1.0.0
     ports:
       - 8025:8025
       - 1025:1025
     user: root
     environment:
       MH_STORAGE: maildir
       MH_MAILDIR_PATH: /mailhog-data
     volumes:
       - mailhog-data:/mailhog-data

   wordpress:
     depends_on:
       - chrome
       - mailhog
       - db
     build: ./.tk/docker/
     ports:
       - "8000:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: root
       WORDPRESS_DB_PASSWORD: root
       WORDPRESS_DB_NAME: local
     volumes:
       - .:/var/www/html/wp-content/plugins/buddyforms-premium
       - ./.tk/docker/docker-entrypoint.sh:/var/www/html/docker-entrypoint.sh
     networks:
       default:
         aliases:
           - test.local

   chrome:
     environment:
       - DBUS_SESSION_BUS_ADDRESS=/dev/null
     volumes:
       - /dev/shm:/dev/shm
     image: selenium/standalone-chrome-debug:3.141.59-20200525
     ports:
       - 4444
       - 5900:5900

volumes:
    db_data: {}
    mailhog-data: {}

networks:
  default: