.the_buddyforms_form {
	margin-top: 20px;
}

.the_buddyforms_form .bf_field_group {
	margin-bottom: 20px;
}

.the_buddyforms_form .bf_field_group label {
	margin-right: 10px;
}

.the_buddyforms_form .bf_field_group label p {
	margin-bottom: 10px;
}

.the_buddyforms_form .bf_field_group .bf_inputs {
	margin: 0;
}

.the_buddyforms_form .bf_field_group .bf_inputs .wp-editor-container table tr {
	background: transparent;
}

.the_buddyforms_form form label {
	font-weight: normal !important;
}

.the_buddyforms_form span.help-inline,
.the_buddyforms_form span.help-block {
	color: #888;
	font-size: 85%;
	font-style: italic;
	font-weight: normal;
}

.the_buddyforms_form .revision {
	overflow: auto;
	overflow-x: hidden;
	margin: 40px 0 20px 0;
}

.the_buddyforms_form ul.post-revisions {
	list-style: none outside none;
	margin: 10px 0;
}

.the_buddyforms_form ul.post-revisions li {
	margin: 5px 0;
}

.the_buddyforms_form ul.post-revisions li img {
	margin-right: 10px;
}

.the_buddyforms_form .post-revisions li {
	float: left;
	padding: 5px;
	width: 100%;
}

.the_buddyforms_form .standard-form textarea,
.the_buddyforms_form .standard-form input[type=url],
.the_buddyforms_form .standard-form input[type=link],
.the_buddyforms_form .standard-form input[type=text],
.the_buddyforms_form .standard-form input[type=email],
.the_buddyforms_form .standard-form input[type=password] {
	width: 75%;
	border: 1px inset #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #888;
	font: inherit;
	font-size: 14px;
	padding: 6px;
}

.the_buddyforms_form #insert-media-button {
	padding: 1px 7px 1px 5px;
}

.the_buddyforms_form #wp-editpost_content-editor-tools .wp-switch-editor {
	height: auto !important;
}

/** BuddyPress Fix for the Theme Compatibility **/
#buddypress table tr td, #buddypress table tr th {
	padding: 0px;
	vertical-align: middle;
}

ul.product_images.ui-sortable li img {
    width: 100px;
    height: 100px;
}

.bf-hidden {
    display: none;
}

.chosen-container {
	width: 50% !important;
}