.bf_field_group {
    margin: 10px 0 20px;
    overflow: auto;
    clear: both;
}

.bf_field_group .bf-label {
    width: 30%;
    display: inline-block;
}

.bf_field_group .bf-label label {
    vertical-align: top;
}

.bf_field_group .bf-input {
    width: 70%;
    display: inline;
    float: right;
    overflow: auto;
}

.bf-input select,
.bf_field_group .settings-input,
.bf_field_group input[type="text"] {
    width: 98%;
}

.bf_field_group .bf-input .select2-container-multi .select2-choices .select2-search-field input {
    width: auto !important;
    min-width: 200px;
}

.bf-input .wp-editor-wrap {
    overflow: hidden;
    height: auto;
}

.bf_field_group span.help-inline {
    width: calc(30% - 5px);
    padding: 2px 5px 15px 0;
    clear: none;
    display: block;
}

li.fs-cta a, #fs_addons h2 {
    display: none !important;
}

#fs_promo_tab {
    display: none !important;
}

#piframe {
    display: none !important;
}


