#TB_window {
    left: 5% !important;;
    margin-left: 0 !important;
    width: 90% !important;
    height: auto !important;
}

#TB_ajaxContent {
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#TB_ajaxContent .bf-tile-desc {
    font-size: 14px;
}

#TB_ajaxContent .bf-tile-desc-wrap {
    width: calc(100% - 30px);
    padding: 30px 15px 15px;
    margin: 0;
    display: block;
    clear: both;
    float: none;
    max-width: 100%;
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

#TB_ajaxContent fieldset {
    border: none;
}

.bf-frame {
    /*-ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;*/
}

#TB_window .button-primary {
    position: absolute;
    top: 56px;
    right: 20px;
}

.bf-hidden {
    display: none;
}

.addon-image {
    float: left;
    padding: 10px;
}

.addon-content {
    padding: 10px;
}

.bf-edid-form {
    display: none;
}

.showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
}

.center {
    text-align: center;
}

#wpbody .bf_admin_wrap h1 {
    float: none;
}

.bf_admin_wrap h1 span.version {
    font-size: 14px;
    font-style: italic;
    padding-left: 5px;
}

@media screen and (max-width: 1140px) {
    .bf_admin_wrap .credits {
        display: none;
    }
}

.bf_admin_wrap .credits {
    position: relative;
    float: right;
    padding: 5px 10px;
}

.bf_admin_wrap .credits a img {
    border-bottom: 1px solid transparent;
    margin: -4px 5px 0 5px;
}

.bf_admin_wrap .credits a img:hover {
    border-bottom: 1px solid #aaa;
}

.bf_admin_wrap .credits p {
    color: #aaa;
    padding: 4px 0;
}

.bf_admin_wrap .button-nav {
    margin: 20px 0 10px 0;
    clear: both;
    padding: 20px 0 0 0;
}

.bf_admin_wrap .button-nav a.btn {
    text-decoration: none;
    margin-right: 5px;
}

.bf_admin_wrap #bf_support_nav .btn-small [class^="icon-"] {
    margin-top: 1px;
}

.bf_admin_wrap hr {
    margin: 20px 0 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fafafa;
}

.bf_admin_wrap a.btn {
    text-decoration: none;
}

/** the tab menu **/
.bf_admin_wrap #bf_side_nav a {
    text-decoration: none;
    font-size: 15px;
    color: #aaa;
    padding: 4px 6px;
    border: 1px solid #dfdfdf;
    border-right: none;
    border-radius: 6px 0 0 6px;
}

.bf_admin_wrap #bf_side_nav a:hover {
    color: red;
}

.bf_admin_wrap #bf_side_nav .active a {
    color: #464646;
    background: #fff;
}

.bf_admin_wrap #bf_side_nav .active a:hover {
    color: #464646;
}

/* import export tab menu */
#bf_import_export_tabs li a {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    text-decoration: none;
    background: #e4e4e4;
}

#bf_import_export_tabs li.active a {
    background: #f1f1f1;
}

#bf_import_export_tabs li a:hover {
    background: #e4e4e4;
    color: red;
}

#bf_import_export_tabs li.active a:hover {
    background: #f1f1f1;
    color: #464646;
}

/** the content area **/
.bf_admin_wrap .tab-content .hero-unit {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-right: 31%;
}

.bf_admin_wrap .accordion-group .accordion-heading {
    text-shadow: #fff 0 1px 0;
    -webkit-box-shadow: 0 1px 0 #fff;
}

.sortable .accordion-group:hover {
    padding-bottom: 0px;
    border: 1px solid #aaa;
    cursor: move;
}

.sortable .accordion-heading :hover {
    cursor: move;
}

.sortable .accordion-group {
    margin-bottom: 0px !important;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.bf_admin_wrap .create-form-box label[for=create_new_form_name],
.bf_admin_wrap .create-form-box label[for=create_new_form_singular_name] {
    width: 20%;
    float: left;
}

.bf_admin_wrap .create-form-box label[for=create_new_form_singular_name] {
    clear: both;
}

.bf_admin_wrap .create-form-box input[name=create_new_form_name],
.bf_admin_wrap .create-form-box input[name=create_new_form_singular_name] {
    width: 50%;
    float: left;
    clear: right;
}

.bf_admin_wrap .accordion-body .accordion-inner {
    padding: 30px 15px;
}

.bf_admin_wrap .hero-unit p.accordion-toggle {
    padding-top: 18px !important;
}

.bf_admin_wrap .accordion-inner .innerblock {
    overflow: hidden;
    height: auto;
    margin-bottom: 20px;
}

.bf_admin_wrap .accordion-inner .innerblock .radio {
    padding-right: 15px;
}

.bf_admin_wrap .accordion-inner .innerblock .radio input[type=radio] {
    margin-right: 5px;
    margin-left: 1px;
}

.bf_admin_wrap .buddyforms_accordion_left select {
    margin-bottom: 15px;
}

.bf_admin_wrap .buddyforms_accordion_right .checkbox {
    margin-bottom: 15px;
}

.bf_admin_wrap i.small {
    font-size: 15px;
}

.bf_admin_wrap .form_type_settings input[type="text"] {
    margin-bottom: 20px;
}

.bf_admin_wrap .btn {
    margin-right: 5px;
}

/** form elements **/
.bf_admin_wrap .element_field {
    margin: 10px 0;
}

.bf_admin_wrap .element_field li input[type="text"] {
    margin: 0 5px;
}

.bf_admin_wrap .buddyforms_form_field {
    margin: 10px 0 15px;
}

.bf-texteditor {
    width: 100%;
    margin: 10px 0;
}

/** sidebar **/
.bf_admin_wrap .accordion_sidebar .accordion-heading p {
    font-size: 15px;
    text-shadow: #fff 0 1px 0;
    padding: 7px 10px;
    margin: 0;
}

.bf_admin_wrap .accordion_sidebar .accordion-inner {
    background: #fcfcfc;
    border-color: #dfdfdf;
    padding: 15px;
}

.bf_admin_wrap .accordion_sidebar .accordion-group {
    margin-bottom: 20px;
}

.bf_admin_wrap .accordion_sidebar input[type="text"] {
    width: 188px;
    margin-bottom: 20px;
}

/** the beginning **/
.bf_admin_wrap .loading-animation-new, .loading-animation-order {
    display: none;
}

.bf_admin_wrap .bf_list_item {
    background-color: #fcfcfc;
}

.bf_admin_wrap .buddyforms_accordion_right {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.bf_admin_wrap .accordion-heading-options {
    float: right;
    margin-top: 23px;
    margin-right: 15px;
}

.bf_admin_wrap .accordion-heading-options, .bf_admin_wrap .accordion-heading-options b, .bf_admin_wrap .accordion-heading-options i {
    cursor: pointer;
}

.bf_admin_wrap .accordion_sidebar {
    float: right;
    width: 30%;
}

.bf_admin_wrap .accordion_title {
    font-size: 14px;
}

.bf_admin_wrap .radio {
    padding: 5px;
}

.bf_admin_wrap .form_type_settings {
    clear: both;
}

.bf_admin_wrap .bs-sidebar {
    min-width: 150px;
    float: left;
    width: 20%;
}

.bf_admin_wrap .wp-list-table tr {
    border-bottom: 1px solid #ddd;
}

.bf_admin_wrap .wp-list-table tr td {
    height: 40px;
}

.bf-main-settings input[type="text"] {
    width: 100%;
    margin: 5px 0 10px;
    height: 2em;
    line-height: 2em;
}

.bf_admin_wrap .buddyforms_forms_builder .hero-unit p {
    font-size: 18px;
}

.delete .icon-remove-sign {
    margin-right: 5px;
    margin-top: 6px !important;
}

/* Create New Form View */
#create_new_form_singular_name {
    padding: 3px 8px;
    font-size: 1em;
    line-height: 120%;
    height: 2em;
    width: 100%;
    outline: 0;
    margin: 10px 0 10px 0;
}

.bf-half-col {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.bf-addon-half-col {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

@media screen and (min-width: 1600px) {
    .bf-half-col {
        width: 49%;
    }

    .bf-half-col.bf-left {
        margin-right: 1%;
    }

    .bf-half-col.bf-right {
        margin-left: 1%;
    }
}

@media screen and (min-width: 700px) {
    .bf-addon-half-col {
        width: 49%;
    }

    .bf-addon-half-col.bf-left {
        margin-right: 1%;
    }

    .bf-addon-half-col.bf-right {
        margin-left: 1%;
    }
}

.bf-col-content {
    min-height: 180px;
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.bf-addon-col-content {
    min-height: 300px;
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.bf-roles-main-desc {
    margin: 0px 12px 10px 0px;
}

.bf-main-desc {
    margin: 20px 0;
}

.postbox-container .accordion-inner {
    padding: 20px 15px;
}

.postbox-container .accordion-inner label {
    margin-bottom: 15px;
    font-size: 13px;
}

.postbox-container .accordion-inner label.checkbox {
    line-height: 190%;
}

.bf-error {
    border: 2px solid #d02a21 !important;
    border: 2px solid #d02a21;
}

.bf-error-text p {
    color: #d02a21 !important;
}

.bf-ok {
    border: 2px solid #7ad03a !important;
    border: 2px solid #7ad03a;
}

.bf-mail-field {
    width: 100%;
}

.buddyforms_forms_builder .circle {
    background: transparent;
    cursor: move;
    margin: 2px 0 0;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    display: block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 22px;
    line-height: 23px;
    text-indent: 0;
    margin-left: 6px;
}

.postbox-container input[type="text"], input[type="number"], input[type="email"], input[type="url"], select {
    width: 100% !important;
    height: 30px !important;
}

.post-type-buddyforms .postbox label {
    font-size: 14px;
    line-height: 26px;
}

a.button.button-large.bf_button_action {
    margin-bottom: 10px;
    display: block;
}

.bf-select2 {
    width: auto;
}

/* custom inclusion of right, left and below tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: transparent;
    background: transparent;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd;
    color: inherit;
    background-color: #f9f9f9;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #ddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd;
}

/*.checkbox .bf_sent_mail_to_multi_checkbox {*/
/*margin:4px;*/
/*background-color:#888888;*/
/*border-radius:4px;*/
/*border:1px solid #888888;*/
/*overflow:hidden;*/
/*!*float:left;*!*/
/*}*/

/*.checkbox .bf_sent_mail_to_multi_checkbox:hover {*/
/*margin:4px;*/
/*background-color:#EFEFEF;*/
/*border-radius:4px;*/
/*border:1px solid red;*/
/*overflow:hidden;*/
/*!*float:left;*!*/
/*color:red;*/
/*}*/

/*.checkbox .bf_sent_mail_to_multi_checkbox {*/
/*float:left;*/
/*width:4.0em;*/
/*}*/

/*.checkbox .bf_sent_mail_to_multi_checkbox input + span{*/
/*text-align:center;*/
/*padding:3px 0px;*/
/*display:block;*/
/*}*/

/*.checkbox .bf_sent_mail_to_multi_checkbox input {*/
/*position:absolute;*/
/*top:-20px;*/
/*}*/

/*.checkbox .bf_sent_mail_to_multi_checkbox  input:checked + span {*/
/*background-color:#911;*/
/*color:#fff;*/

/*text-align:center;*/
/*padding:3px 0px;*/
/*display:block;*/
/*}*/
/*.radio, .checkbox{*/
/*min-height: 0px;*/
/*}*/

/*Form Builder Footer Actions*/
#formbuilder-actions-wrap {
    padding: 10px;
    clear: both;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -12px;
}

.formbuilder-actions-select-wrap {
    overflow: auto;
}

#formbuilder-action-select {
    line-height: 28px;
    vertical-align: middle;
    text-align: left;
    float: right;
}

#formbuilder-action-add {
    text-align: right;
    float: right;
    line-height: 23px;
    margin-left: 10px;

}

#buddyforms-actions {
    margin-top: -12px;
}

/* The Form Builder */
.buddyforms_forms_builder .bf-input textarea {
    width: 98%;
}

.buddyforms_forms_builder table {
    width: 100%;
}

.buddyforms_forms_builder table.widefat {
    border: none;
}

.buddyforms_forms_builder .fields_header {
    border-bottom: 1px solid #e5e5e5;
    background: #f9f9f9;
    margin-top: -6px;
    margin-right: -12px;
    margin-left: -12px;
    padding: 0 10px;
}

.buddyforms_forms_builder .fields_header thead th {
    border: none;
    background: #f9f9f9;
    /*color: #888;*/
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Form Setup Choose A Form Type Box */
.bf-3-tile {
    width: 95%;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    display: block;
    overflow: auto;
    padding: 20px 10px;
    vertical-align: top;
    margin-bottom: 10px;
}

.bf-3-tile button,
.bf-3-tile .btn {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    margin: 10px 0;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    background: #0085ba;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.buddyforms_template .btn:hover,
.buddyforms_template .btn:focus {
    background: #008ec2;
    border-color: #006799;
}

.bf-tile .bf-preview {
    font-size: 11px;
    float: right;
}

.bf-3-tile .dashicons {
    font-size: inherit;
    height: auto;
    line-height: inherit;
}

.bf-tile-title {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 16px;
}

.bf-tile-desc-wrap {
    overflow: auto;
    margin-bottom: 20px;
    width: calc(100% - 100px);
    display: inline-block;
    float: left;
}

.bf-tile-desc {
    /*display: none;*/
    height: 42px;
    min-height: 42px;
    overflow: hidden;
    margin: 0;
    font-size: 10px;
    line-height: 14px;
}

/* Dependencies */

.bf-tile.disabled {
    color: #aaa;
}

.bf-tile-dependencies {
    margin: 0 0 10px;
    font-size: 11px;
    color: #444;
    clear: both;
}

.buddyforms_wizard_types {
    padding: 0 0 10px;
    overflow: auto;
}

#poststuff .buddyforms_wizard_types h2 {
    clear: both;
    padding: 30px 0 15px;

}

.bf-col-50 {
    width: 50%;
    float: left;
    display: inline-block;
}

@media (min-width: 1200px) {
    .bf-3-tile {
        width: 29%;
        display: inline-block;
        padding: 10px 15px 5px;
        min-height: 182px;
    }

    .bf-3-tile.disabled {
        /*min-height: 180px;*/
    }
}

input[readonly] {
    cursor: pointer;
}

#buddyforms_form_setup .hndle {
    padding: 10px;
}

#buddyforms_form_setup .hndle span span {
    display: inline;
    line-height: inherit;
    vertical-align: baseline;
}

#buddyforms_form_setup .hndle label {
    padding-right: 1em;
    font-size: 12px;
    vertical-align: baseline;
}

#buddyforms_form_setup .hndle input, #buddyforms-form-setup .hndle select {
    margin: -3px 0 0 .5em;
    vertical-align: middle;
}

#bf-form-type-select {
    margin: -3px 0 0 .5em !important;
    vertical-align: middle !important;
    width: 200px !important;
    height: 21px !important;
    line-height: 12px !important;
    padding: 10px !important;
    vertical-align: top !important;
    font-size: 12px !important;
    margin-bottom: 2px !important;
    margin-top: 1px !important;
}

/*#buddyforms_metabox_sidebar{*/
/*display: none;*/
/*}*/

/* The Form Wizard */
.wizard,
.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a {
    outline: 0;
}

.wizard ul,
.tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li {
    display: block;
    padding: 0;
}

/* Wizard Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}

div#buddyforms_metabox_sidebar p {
    float: left;
    padding-left: 5px;
}

/* The Wizard Himself */
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number {
    font-size: 11px;
}

.wizard > .steps > ul {
    text-align: left;
    margin: 15px 0;
}

.wizard > .steps > ul > li {
    display: inline-block;
    float: none;
    width: auto;
    text-align: right;
    margin-right: 5px;
}

.wizard > .actions > ul > li {
    float: left;
}

.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    display: block;
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 8px 12px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    border-radius: 0;
    outline: none;
    font-size: 11px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    background: #d4d4d4;
    color: #888;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    background: #0073aa;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    background: #90c8bb;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background: #ff3111;
    color: #fff;
}

@media (min-width: 1200px) {
    .wizard > .steps > ul > li {
        margin-right: 25px;
    }

    .wizard > .steps > ul > li:after {
        right: auto;
        top: 15px;
        border: solid transparent;
        content: " ";
        position: absolute;
        pointer-events: none;
        border-color: rgba(166, 126, 35, 0);
        border-left-color: #d4d4d4;
        border-width: 16px;
        margin-top: 0;
    }

    .wizard > .steps a,
    .wizard > .steps a:hover,
    .wizard > .steps a:active {
        min-width: 100px;
        padding: 10px 12px;
        font-size: 12px;
    }

    .wizard > .steps .number {
        font-size: 12px;
    }

    .wizard > .steps > ul > li.current:after {
        border-left-color: #0073aa;
    }

    .wizard > .steps > ul > li.done:after {
        border-left-color: #90c8bb;
    }

    .wizard > .steps > ul > li.error:after {
        border-left-color: #ff3111;
    }
}

.wizard > .content {
    display: block;
    margin: 0;
    min-height: 15em;
    overflow: hidden;
    position: relative;
    width: auto;
}

.wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body {
    float: left;
    width: 100%;
    height: 95%;
    padding: 2.5% 0;
}

/* .wizard > .content > .body ul { list-style: disc !important; } .wizard > .content > .body ul > li { display: list-item; } */
.wizard > .content > .body > iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input[type="checkbox"] {
    display: inline-block;
}

.wizard > .content > .body input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li {
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}

.wizard > .actions a {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    height: 30px;
    line-height: 28px;
    vertical-align: top;
    padding: 0 12px 2px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.wizard > .actions a:hover,
.wizard > .actions a:active {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

.wizard > .actions .disabled a {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #aaa;
    box-shadow: 0 1px 0 #aaa;
    text-shadow: none;
}

.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

/* The Formbuilder inside the Wizard - Additions */
.wizard #buddyforms_form_elements {
    overflow: auto;
}

/*.wizard #sortable_buddyforms_elements {
    width: calc(100% - 342px);
    float: left;
    clear: none;
}
@media (min-width: 1200px) {
  .wizard #formbuilder-actions-wrap {
      width: 310px;
      float: right;
      margin: 0 0 10px 0;
      border: 1px solid #e5e5e5;
      clear: none;
  }
}*/
.wizard #formbuilder-actions-wrap .button {
    margin-bottom: 10px;
}

.wizard .formbuilder-actions-sidebar-wrap {
    display: none;
}

#poststuff .wizard .accordion_fields {
    margin-top: 6px;
}

#poststuff .wizard #buddyforms_form_elements .inside {
    margin: 0px 0 0;
}

.postbox .wizard #buddyforms_form_elements .hndle {
    border-bottom: none;
}

/* Form Wizard - Pagination */
.wizard > .actions > ul[aria-label="Pagination"] {
    width: 100%;
    text-align: center;
}

.wizard > .actions > ul[aria-label="Pagination"] > li {
    float: none;
    display: inline-block;
}

/* Admin MetaBox Shortcodes  -  admin meta box that displays all shortcodes for the form */

#bf-shortcode {
    overflow: auto;
    display: block;
    clear: both;
}

.bf-row {
    overflow: auto;
    display: block;
    clear: both;
}

.bf-tile {
    overflow: auto;
    background: #fff;
    border: 1px solid #ddd;
    width: 206px;
    margin: 0 10px 10px 0;
    padding: 15px 10px 0;
    float: left;
}

.bf-tile.alt {
    /*background: #f5f4f1;*/
}

.post-type-buddyforms .postbox .bf-tile label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.bf-tile p.description {
    margin: 10px -10px 0;
    padding: 10px 10px 10px;
    background: #eee;
    border-top: 1px solid #ddd;
    min-height: 38px;
}

.bf_button_action .dashicons {
    line-height: 1.4;
    padding-right: 3px;
}

#screen-meta-links {
    /*display: none;*/
}

/* --- Submission Single View --- */

.postbox-submissions .settings-input {
    display: block;
}

.postbox-submissions .bf-input {
    margin-bottom: 20px;
}

.postbox-submissions textarea,
.postbox-submissions .standard-form input[type=url],
.postbox-submissions .standard-form input[type=link],
.postbox-submissions .standard-form input[type=text],
.postbox-submissions .standard-form input[type=email],
.postbox-submissions .standard-form input[type=date],
.postbox-submissions .standard-form input[type=password] {
    width: 100%;
    min-height: 38px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    color: #999;
    font: inherit;
}

.postbox-submissions .standard-form input[type=date] {
    width: auto;
}

.postbox-submissions .bf-input .radio {
    display: block;
}

.postbox-submissions .bf-input textarea,
.postbox-submissions .bf-input .form-control {
    display: block;
    width: 100%;
    background: #f1f1f1;
}

#fs_promo_tab {
    display: none !important;
}

#piframe {
    display: none;
}

/*#bf-gopro-sidebar {
    background: #fff;
    padding: 20px 10px 30px;
    border: 1px solid #ddd;
}*/

tr.bf-disabled {
    opacity: 0.5;
}

tr.bf-disabled th label b::after {
    width: 72px;
    height: 18px;
    padding: 0;
    clear: both;
    display: block;
    float: none;
    content: "Pro Feature";
    text-align: center;
    font-size: 9px;
    line-height: 2;
    background: #b90638;
    color: #fff;
    border-radius: 20px;
}

.bf-color-hidden {
    display: none;
}

input[type="color"] {
    padding: 0;
    margin: -25px 0 0 0;
    height: 60px;
    width: 90px;
    box-shadow: none !important;
    border: none !important;
}

.wp-picker-open + .wp-picker-input-wrap {
    display: block;
    vertical-align: top;
    /*width: 117px;*/
}

.wp-picker-container input[type="text"].wp-color-picker {
    width: 65px !important;
    height: 25px !important;
    display: inline-block;
}

.wp-picker-container input[type="button"].wp-picker-clear {
    display: inline-block;
    height: 25px !important;
}

.bf-image {
    list-style-type: none;
}
