#tk-corner-popup {
  box-sizing: border-box;
  padding-bottom: 0 !important;
}

@media (min-width: 700px) {
  #tk-corner-popup {
    min-width: 450px;
  }
}

#tk-corner-popup .tk-corner-head {
  margin-bottom: 0;
  padding-bottom: 0;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction, #tk-corner-popup .tk-corner-head .tk-bf-satisfaction * {
  outline: none !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction:not([data-section="1"]) section[data-section="1"] {
  display: none !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction:not([data-section="2"]) section[data-section="2"] {
  display: none !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction:not([data-section="3"]) section[data-section="3"] {
  display: none !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container {
  display: block;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-top .tk-bf-satisfaction-top-title {
  font-size: 18px;
  padding-right: 24px;
  line-height: normal;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-row {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-row > * {
  margin-right: 6px;
  margin-bottom: 6px;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-row > *:last-child {
  margin-right: 0;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-column > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-column > *:first-child {
  margin-top: 0;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-column > *:last-child {
  margin-bottom: 0;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-body-medium {
  opacity: .77;
  font-size: 14px;
  text-transform: none;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] {
  width: 25px;
  height: 25px;
  display: flex;
  position: relative;
  flex-direction: row;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"], #tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] * {
  transition: 0s !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] input[type="radio"] {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0;
  appearance: none;
  box-shadow: none;
  border-radius: 100px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] input[type="radio"]:hover {
  border-color: transparent;
  background: rgba(255, 255, 255, 0.24);
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] input[type="radio"]::before {
  display: none;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] input[type="radio"] ~ span {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body label[data-style="hover"] input[type="radio"]:checked {
  background: #f4a141;
  border-color: transparent;
  box-shadow: 0 0 0 0 white;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button {
  transition: .2s;
  width: fit-content;
  height: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 12px 24px;
  margin: auto;
  margin-top: 0;
  margin-left: auto;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  background: #f4a141;
  border: 0 solid transparent;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button:last-child {
  margin-left: auto;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button:focus, #tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button:hover {
  box-shadow: 0 0 0 2px white;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button::before {
  content: '';
  opacity: 0;
  padding: 0;
  margin: auto;
  transition: .2s;
  display: flex;
  color: #ffffff;
  font-weight: 500;
  width: fit-content;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  box-sizing: content-box;
  top: 0;
  right: 0;
  background: red;
  transform: translate(0, 0);
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button.tk-error {
  display: flex;
  margin-top: 40px;
  position: relative;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button.tk-error::before {
  opacity: 1;
  top: -12px;
  padding: 6px 12px;
  transform: translate(0, -100%);
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button.tk-error.tk-user::before {
  content: attr(data-user-error);
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button.tk-error.tk-server::before {
  content: attr(data-server-error);
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container .tk-bf-satisfaction-body .tk-bf-satisfaction-button:disabled {
  user-select: none;
  opacity: .7 !important;
  pointer-events: none !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section textarea {
  padding: 12px;
  resize: vertical;
  height: 120px;
  min-height: 120px;
  border-width: 2px;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0);
  margin-bottom: 12px !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child {
  display: flex;
  flex-direction: row;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child:first-child :first-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child:first-child :first-child {
  margin-left: 0 !important;
  margin-right: auto !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child:first-child :last-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child:first-child :last-child {
  margin-left: auto !important;
  margin-right: 0 !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child:last-child :first-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child:last-child :first-child {
  margin-left: 0 !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child:last-child :first-child:last-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child:last-child :last-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child:last-child :first-child:last-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child:last-child :last-child {
  margin-left: auto !important;
  margin-right: 0 !important;
}

#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:first-child:last-child :first-child:last-child,
#tk-corner-popup .tk-corner-head .tk-bf-satisfaction .tk-bf-satisfaction-container section > div:last-child:last-child :first-child:last-child {
  margin-left: auto !important;
  margin-right: auto !important;
}
