/** header **/

.bf-edid-form {
    display: none;
}

.showme{
    display: none;
}
.showhim:hover .showme{
    display : block;
}

#wpbody #bf_admin_wrap h1 { float: none; }

#bf_admin_wrap h1 span.version { font-size: 14px; font-style: italic; padding-left: 5px; }

@media screen and (max-width: 1140px) {
    #bf_admin_wrap  .credits { display: none; }
}
#bf_admin_wrap .credits { position: relative; float: right; padding: 5px 10px; }
#bf_admin_wrap .credits a img { border-bottom: 1px solid transparent; margin: -4px 5px 0 5px; }
#bf_admin_wrap .credits a img:hover { border-bottom: 1px solid #aaa; }
#bf_admin_wrap .credits p { color: #aaa; padding: 4px 0; }

#bf_admin_wrap .button-nav { margin: 20px 0 10px 0; clear: both; padding: 20px 0 0 0; }
#bf_admin_wrap .button-nav a.btn { text-decoration: none; margin-right: 5px; }

#bf_admin_wrap #bf_support_nav .btn-small [class^="icon-"] {
    margin-top: 1px;
}

#bf_admin_wrap hr {
    margin: 20px 0 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fafafa;
}

#bf_admin_wrap a.btn {
    text-decoration: none;
}

/** the tab menu **/

#bf_admin_wrap #bf_side_nav a {
    text-decoration: none;
    font-size: 15px;
    color: #aaa;
    padding: 4px 6px;
    border: 1px solid #dfdfdf;
    border-right: none;
    border-radius: 6px 0 0 6px;
}
#bf_admin_wrap #bf_side_nav a:hover {
    color: red;
}
#bf_admin_wrap #bf_side_nav .active a {
    color: #464646;
    background: #fff;
}
#bf_admin_wrap #bf_side_nav .active a:hover {
    color: #464646;
}

/* import export tab menu */

#bf_import_export_tabs li a {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    text-decoration: none;
    background: #e4e4e4;
}
#bf_import_export_tabs li.active a {
    background: #f1f1f1;
}
#bf_import_export_tabs li a:hover {
    background: #e4e4e4;
    color: red;
}
#bf_import_export_tabs li.active a:hover {
    background: #f1f1f1;
    color: #464646;
}

/** the content area **/

#bf_admin_wrap .tab-content .hero-unit {
	background-color: #fff;
	border: 1px solid #dfdfdf;
    margin-right: 31%;
}
#bf_admin_wrap .accordion-group .accordion-heading {
	border-bottom: 1px solid #dfdfdf;
	text-shadow: #fff 0 1px 0;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	background: #f1f1f1;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
	background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
	background-image: linear-gradient(to top,#ececec,#f9f9f9);
}

#bf_admin_wrap .create-form-box label[for=create_new_form_name],
#bf_admin_wrap .create-form-box label[for=create_new_form_singular_name] {
	width: 20%;
	float: left; 
}
#bf_admin_wrap .create-form-box label[for=create_new_form_singular_name] {
	clear: both; 
}
#bf_admin_wrap .create-form-box input[name=create_new_form_name],
#bf_admin_wrap .create-form-box input[name=create_new_form_singular_name] {
	width: 50%;
	float: left; 
	clear: right; 
}
#bf_admin_wrap .accordion-body .accordion-inner {
	padding: 30px 15px;
}
#bf_admin_wrap .hero-unit p.accordion-toggle {
padding-top: 18px !important;
}
#bf_admin_wrap .accordion-inner .innerblock {
	overflow: auto;
	height: auto;
	margin-bottom: 20px;
}
#bf_admin_wrap .accordion-inner .innerblock .radio {
	padding-right: 15px;	
}
#bf_admin_wrap .accordion-inner .innerblock .radio input[type=radio] {
	margin-right: 5px;
	margin-left: 1px;
}
#bf_admin_wrap .form-inline .buddyforms_accordion_left select {
	margin-bottom: 15px;
}
#bf_admin_wrap .form-inline .buddyforms_accordion_right .checkbox {
	margin-bottom: 15px;
}
#bf_admin_wrap i.small {
	font-size: 15px;
}
#bf_admin_wrap .form_type_settings input[type="text"] {
	margin-bottom: 20px;
}
#bf_admin_wrap .btn { margin-right: 5px; }


/** form elements **/

#bf_admin_wrap .element_field {
margin: 10px 0;	
}

#bf_admin_wrap .element_field li input[type="text"] {
	margin: 0 5px;
}

#bf_admin_wrap .buddyforms_form_field {
margin: 10px 0 15px;
}


/** sidebar **/

#bf_admin_wrap .accordion_sidebar .accordion-heading p {
	font-size: 15px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	text-shadow: #fff 0 1px 0; 
	padding: 7px 10px;
	margin: 0;
}
#bf_admin_wrap .accordion_sidebar .accordion-inner {
	background: #fcfcfc;
	border-color: #dfdfdf;
	padding: 15px;
}
#bf_admin_wrap .accordion_sidebar .accordion-group {
	margin-bottom: 20px;
}
#bf_admin_wrap .accordion_sidebar input[type="text"] {
	width: 188px;
	margin-bottom: 20px;
}


/** the beginning **/

#bf_admin_wrap .loading-animation-new, .loading-animation-order  {
	display: none;		
}
#bf_admin_wrap .list_item {
	background-color: #fcfcfc;
}
#bf_admin_wrap .buddyforms_accordion_right {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
#bf_admin_wrap .buddyforms_accordion_left {

}
#bf_admin_wrap .accordion-heading-options {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
#bf_admin_wrap .accordion_sidebar {
	float: right;
	width: 30%;
}

#bf_admin_wrap .accordion_title {
font-size: 14px;
}

#bf_admin_wrap .radio {
float: left;
padding: 5px;
}
#bf_admin_wrap .form_type_settings {
clear: both;
}

#bf_admin_wrap .bs-sidebar{
    min-width: 150px;
    float: left;
    width: 20%;
}
#create_new_form_singular_name {
    padding: 3px 8px;
    font-size: 1em;
    line-height: 120%;
    height: 2em;
    width: 100%;
    outline: 0;
    margin: 10px 0 10px 0;
}
.bf-half-col {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
@media screen and (min-width: 1600px) {
    .bf-half-col {
        width: 49%;
    }
    .bf-half-col.bf-left {
        margin-right: 1%;
    }
    .bf-half-col.bf-right {
        margin-left: 1%;
    }
}
.bf-col-content {
    min-height: 180px;
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.bf-main-desc {
    margin: 20px 0;
}
.postbox-container .accordion-inner {
    padding: 20px 15px;
}
.postbox-container .accordion-inner label {
    margin-bottom: 15px;
    font-size: 13px;
}
.postbox-container .accordion-inner label.checkbox {
    line-height: 190%;
}
