.loading-animation-new, .loading-animation-order  {
	display: none;		
}
.list_item{
	background-color: #fcfcfc;
}
.cpt4bp_field_options{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.accordion-heading-options {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.accordion_sidebar {
	float: right;
	width: 20%;
}